<a href="https://colab.research.google.com/github/pokeychip19946/python-basics/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

VARIABLE

In [0]:
10
a=b=c=50
print (a)
print (b)
print(10)
a,b,c=5,10.5,"divyam"
print(a)
print(b)
print(c)

TUPLES

In [0]:
t=("divyam",20,"verma",5.10)
print(t)
print(type(t))

print(t[0:2])
print(t[0:4:1])
print(t[0:4:2])
print(t[0:4:3])
print(t[0:4:4])
print(t[0:4:5])
print(t+t)
t1=("xyz",30,478,"abc")
print(t+t1)
print(t1+t)
print(t[::-1])
print(t[0:4:-1])
print(t[5::-1])
print(t[3:0:-1])

t2=t+t1
print(t2)
print(t*3)
t=(1,2,3,4,5,6,7,8,9)
print(t[8:3:-1])

STRINGS

In [0]:
s1="hello world "
s2="heydivyam!!"
print(s1[0:9:1])
print(s1*2)
print(s1+s2)
print(s2[3:8])
print(s2[3:8:1])
print(s1[::2])
print(s2[8:3:-1])
str1="hello\
user"
str2=""" welcome 
divyam
verma"""
print(str1)
print(str2)

DICTIONARY

In [0]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'};   
print("1st name is "+d[1]);  
print("2nd name is "+ d[4]);  
print (d);  
print (d.keys());  
print (d.values());

OPERATORS

In [0]:
#arthimatic
a=5
b=6
print(a+b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)
#comparison
print(a==b)
print(a!=b)
print(a<>b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)
print(a+=b)
print(a*=b)
print(a-=b)
print(a/=b)
print(a%=b)
print(a**=b)
#bitwise
a = 60            
b = 13            
c = 0
c = a & b        
print(c)
c = a | b         
print(c)
c = a ^ b        
print(c)
c = ~a
print(c)
c = a << 2       
print(c)
c = a >> 2    
print(c)
#membership
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]
if ( a in list ):
  print("Line 1 - a is available in the given list")
else:
   print("Line 1 - a is not available in the given list")
if ( b not in list ):
  print("Line 2 - b is not available in the given list")
else:
  print ("Line 2 - b is available in the given list")
a = 2
if ( a in list ):
   print("Line 3 - a is available in the given list")
else:
   print("Line 3 - a is not available in the given list")
#indentify
a = 20
b = 20
if ( a is b ):
   print ("Line 1 - a and b have same identity")
else:
   print ("Line 1 - a and b do not have same identity")
if ( id(a) == id(b) ):
   print ("Line 2 - a and b have same identity")
else:
   print ("Line 2 - a and b do not have same identity")
b = 30
if ( a is b ):
   print ("Line 3 - a and b have same identity")
else:
   print ("Line 3 - a and b do not have same identity")
if ( a is not b ):
   print ("Line 4 - a and b do not have same identity")
else:
   print ("Line 4 - a and b have same identity") 
#operatorprecedence
a= 20
b = 10
c = 15
d = 5
e = 0
e = (a + b) * c / d       #( 30 * 15 ) / 5
print "Value of (a + b) * c / d is ",  e
e = ((a + b) * c) / d     # (30 * 15 ) / 5
print "Value of ((a + b) * c) / d is ",  e
e = (a + b) * (c / d);    # (30) * (15/5)
print "Value of (a + b) * (c / d) is ",  e
e = a + (b * c) / d;      #  20 + (150/5)
print "Value of a + (b * c) / d is ",  e

CONDITION

In [0]:
num = int(input("enter the number?"))  
if num%2 == 0:  
    print("Number is even")  
a = int(input("Enter a? ")) 
b = int(input("Enter b? "))  
c = int(input("Enter c? "))  
if a>b and a>c:  
    print("a is largest") 
if b>a and b>c:  
    print("b is largest")  
if c>a and c>b:  
    print("c is largest")  
age = int (input("Enter your age? "))  
if age>=18:  
    print("You are eligible to vote !!") 
else:  
    print("Sorry! you have to wait !!")
number = int(input("Enter the number?"))  
if number==10:  
    print("number is equals to 10")  
elif number==50:  
    print("number is equal to 50") 
elif number==100:  
    print("number is equal to 100")  
else:  
    print("number is not equal to 10, 50 or 100")

FOR LOOP

In [0]:
i=1
num = int(input("Enter a number:"))  
for i in range(1,11):  
    print("%d X %d = %d"%(num,i,num*i)) 
n = int(input("Enter the number of rows you want to print?"))  
i,j=0,0  
for i in range(0,n):  
    print()  
    for j in range(0,i+1):  
        print("*",end="")

WHILE LOOP

In [0]:
i=1 
while i<=5:  
    print(i)  
    i=i+1;  
    if(i==3):  
        break;  
else:print("The while loop exhausted")

BREAK

In [0]:
i = 0;  
while 1:  
    print(i," ",end="") 
    i=i+1
    if i == 10:  
        break  
print("came out of while loop")

str = "python"  
for i in str:  
    if i == 'o':  
        break  
    print(i)

CONTINUE

In [0]:
i = 0  
while i!=10:  
    print("%d"%i)  
    continue  
    i=i+1  

i=1 
for i in range(1,11):  
    if i==5:  
        continue  
    print("%d"%i)